body {
    font-family: Mohave, sans-serif;
    background-color: #ffffff;
    color:#000000;
    
}

h1,h2,h3,h4,h5,h6 {
    font-family: Homenaje;
}

h1 {
    font-size: 50pt;
}

h2 {
    font-size: 25pt;
    text-decoration: underline;
    text-align: center;
}

h3 {
    font-size: 20pt;
    font-family: mohave, sans-serif;
}

p {
    font-size: 17pt;
    line-height: 15pt;

}

/* Intro Section */

header {
    text-align: center;
    font-style: italic;
    padding: 2rem;
    max-width: 80rem;
    margin: 0 auto;
}

header img {
    max-width: 10%;

}

/* Work Section */

#work figure img {
    max-width: 100%;
    text-align: center;
}

#work figcaption {
    text-align: center;
}

/* Reviews Section */

#reviews  {
    text-align: center;
    border: 3px solid #000000;
    background-color: rgb(255, 241, 222);
}

#reviews figure {
    text-align: center;
    border: 3px solid #000000;
}

#reviews ul li {
    text-align: left;
    font-size: 20pt;
    font-weight: bold;
}

#reviews p {
    color: rgb(206, 175, 0);
}




/* Tablet Size */

@media screen and (min-width: 60em) {
    header img{
        max-width: 10%;
    }
    
    
    figure {
        display: grid;
        margin: 5%;
    }

    figcaption {
        text-decoration: underline;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }


}

/* Large Screen Size */

@media screen and (min-width: 100em) {
    #work {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;

    }

figure {
    display: block;

}



}
